/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    /* Colors */

    /* CTA Text */
    --primary-Light-red: hsl(356, 100%, 66%);
    /* CTA :hover bg */
    --primary-Very-light-red: hsl(355, 100%, 74%);
    /* Headings */
    --primary-Very-dark-blue: hsl(208, 49%, 24%);

    /* body copy */
    --neutral-Very-dark-grayish-blue: hsl(207, 13%, 34%);
    /* Footer bg */
    --neutral-Very-dark-black-blue: hsl(240, 10%, 16%);
    /* Footer text */
    --neutral-Grayish-blue: hsl(240, 2%, 79%);
    /* Text */
    --neutral-White: hsl(0, 0%, 100%);


    /* Gradient */
    /* Background gradient - Intro/CTA mobile nav */

    --Very-light-red: hsl(13, 100%, 72%);
    --Light-red: hsl(353, 100%, 62%);

    /* Background gradient - body */

    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);

    /* Fonts */

    --ff-primary: 'Overpass', sans-serif;
    --ff-secondary: 'Ubuntu', sans-serif;
}

body {
    /*padding-inline: .8rem;*/
    font-family: var(--ff-primary);
    color: var(--neutral-Very-dark-grayish-blue);
}

h2, h3 {
    color: var(--primary-Very-dark-blue);
}

a {
    text-decoration: none;
    color: var(--neutral-White);
}

p:not(.hero p) {
    max-width: 48ch;
}

.wrapper {
    margin-inline: auto;
    max-width: 1120px;
}

/* General styling */

.hero {
    padding-block: 4.4rem 9.5rem;
    color: var(--neutral-White);
    background: url(./images/bg-pattern-intro-desktop.svg),
                linear-gradient(to right, var(--Very-light-red), var(--Light-red));
    background-position: 30% center;
    background-size: 3000px 3000px;
    background-repeat: no-repeat;
    /* TODO: How this fuckin' blend shit works */
    background-blend-mode: soft-light;
    border-bottom-left-radius: 70px;
}

.hero *:not(.hero__logo-nav) {
    text-align: center;
}


.hero__logo-nav {
    margin-block-end: 9rem;
    display: flex;
    align-items: center;
    gap: 3.75rem;
}

.menu {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.login-signup,
.cta {
    width: max-content;
    display: flex;
    gap: 1rem;
}

.login-signup {
    margin-left: auto;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin-block-end: 3rem;
}

.cta {
    margin-inline: auto;
}

.btn {
    padding: .6rem 1.8rem;
    font-weight: 600;
    border-radius: 100vw;
}

.bg-white {
    background-color: var(--neutral-White);
    color: var(--Light-red);
}

.bg-transparent {
    outline: 1px solid var(--neutral-White);
    color: var(--neutral-White);
}

.designed-future {
    /*outline: 2px solid tomato;*/
    padding-block: 8rem;

    /* TODO: Deal with this image. Background Vs. <img> */
    background-image: url(./images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto 750px;
    background-position: 140% center;
}

.designed-future h2 {
    margin-block-end: 3.3rem;
    font-size: 2rem;
    text-align: center;
}

.designed-future p {
    margin-block: 1.3rem 4rem;
}

.state-of-art {
    margin-block-end: 6rem;
    padding-block: 7.5rem;
    padding-left: 50%;
    color: var(--neutral-White);

    background:
        url(./images/bg-pattern-circles.svg),
        linear-gradient(to right, var(--Very-dark-gray-blue), var(--Very-dark-desaturated-blue));
    background-repeat: no-repeat;
    /*background-position: -61% 80%;*/
    background-position: -45% 80%;
    background-size: 930px ,auto;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    position: relative;
    /*overflow: hidden;*/
}

.state-of-art h2 {
    padding-block-end: 1.5rem;
    color: var(--neutral-White);
}

/*.state-of-art::before {
    content: '';
    aspect-ratio: 1;
    height: 900px;
    position: absolute;
    left: -190px;
    top: -450px;
    background-image: url(./images/bg-pattern-circles.svg);
    background-size: cover;
}*/

/*.state-of-art::after {
    content: '';
    position: absolute;
    aspect-ratio: 1;
    height: 579px;
    left: 5rem;
    top: -76px;
    z-index: 3;

    background-image: url(./images/illustration-phones.svg);
    background-size: cover;
}*/

.state-of-art img {
    position: absolute;
    top: -4.3rem;
    left: 5rem;
}

.open-simple {
    padding-block: 14rem;
    background-image: url(./images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position: -71% center;
}

.open-simple .wrapper {
    display: flex;
}

.text-group {
    margin-left: auto;
}

.open-simple h3 {
    margin-block-end: 1.3rem;
}

.open-simple p:not(:last-of-type) {
    /*margin-block: 1.3rem 4rem;*/
    margin-block-end: 4rem;
}

/* Footer */

footer {
    margin-block-start: 7rem;
    padding-block: 4.3rem;
    background-color: var(--neutral-Very-dark-black-blue);

    border-top-right-radius: 80px;
}

footer h3 {
    margin-block-end: 1.6rem;
    color: var(--neutral-White);
}

footer .wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 9rem;
}

.nav-secondary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

footer a {
    color: var(--neutral-Grayish-blue);
    font-weight: 500;
}